/* Общие стили */
body {
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  height: 100vh; /* Высота 100% от высоты экрана */
  margin: 0; /* Убираем отступы у body */
  background-color: #1a1a1a; /* Темный фон для лучшего контраста */
}

.container {
  display: flex;
  flex-direction: column; /* Вертикальное расположение контейнеров */
  justify-content: center; /* Центрирование по вертикали */
  align-items: center; /* Центрирование по горизонтали */
  width: 100%; /* Ширина 100% */
}

/* Контейнеры для авторизации и регистрации */
.login-container,
.register-container,
.main-container {
    overflow: hidden;
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: calc(100% - 250px); /* Учитываем ширину меню */
    text-align: center;
    margin-left: 250px; /* Отступ слева, чтобы строка не заходила на меню */
}


/* Заголовки */
h1, h2 {
  color: #ffd900; /* Цвет заголовков */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Тень для заголовков */
}

/* Кнопка меню */
.menu-btn {
  position: fixed; /* Используем фиксированное позиционирование */
  left: 20px; /* Отступ слева */
  top: 20px; /* Отступ сверху, можете изменить на нужное значение */
  font-size: 18px; /* Размер шрифта */
  background: #0066cc; /* Цвет фона кнопки меню */
  border: none; /* Без рамки */
  color: white; /* Цвет текста кнопки меню */
  padding: 10px 15px; /* Отступы */
  cursor: pointer; /* Указатель на кнопке */
  border-radius: 5px; /* Скругление углов */
  transition: background-color 0.3s; /* Плавный переход */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Тень для кнопки */
  width: 80px
}

.menu-btn:hover {
  background: #005bb5; /* Цвет при наведении */
}

/* Поля ввода */
input {
  padding: 12px;
  margin: 10px 0; /* Отступы сверху и снизу */
  width: 100%;
  border: 1px solid #003d7a; /* Цвет рамки */
  border-radius: 5px; /* Скругление углов поля */
  background-color: #ecf0f1; /* Цвет фона поля */
  transition: border-color 0.3s; /* Плавный переход при фокусе */
}

input:focus {
  border-color: #ffd900; /* Цвет рамки при фокусе */
}

/* Кнопки */
button {
  padding: 12px 20px;
  background-color: #e74c3c; /* Цвет фона кнопки */
  color: white; /* Цвет текста кнопки */
  border: none; /* Без рамки */
  border-radius: 5px; /* Скругление углов кнопки */
  cursor: pointer; /* Указатель на кнопке */
  margin: 0px 10px; /* Отступы сверху и снизу */
  width: 100%; /* Ширина кнопки */
  transition: background-color 0.3s; /* Плавный переход */
}

/* Эффект при наведении на кнопку */
button:hover {
  background-color: #c0392b; /* Темнее при наведении */
}

/* Показываем контейнер авторизации по умолчанию */
#login-container {
  display: block; /* Показать контейнер авторизации */
}

#logout-btn {
  position: absolute;
  top: 10px;
  right: 5px;
  padding: 10px 20px;
  background-color: #e74c3c;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 5%;
}

#logout-btn:hover {
  background-color: #c0392b;
}

/* Общие стили для основного контента */
.header {
  background: linear-gradient(90deg, #004080, #003366);
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}


.menu {
  position: fixed;
  top: 0;
  left: -250px; /* Позиция меню */
  width: 250px;
  height: 100%;
  background-color: #004080;
  color: white;
  overflow-y: auto;
  transition: left 0.3s ease;
  padding-top: 10px;
  z-index: 10; /* Устанавливаем высокий z-index */
}

.close-btn {
  position: absolute;
  top: 10px; /* Положение кнопки закрытия */
  right: 10px; /* Положение кнопки закрытия */
  font-size: 18px; /* Размер шрифта кнопки закрытия */
  background: #cc0000; /* Цвет фона кнопки закрытия */
  padding: 5px 10px; /* Отступы */
  color: white; /* Цвет текста кнопки закрытия */
  cursor: pointer; /* Указатель на кнопке */
  border-radius: 5px; /* Скругление углов кнопки закрытия */
}

.menu ul {
  list-style-type: none; /* Убрать маркеры у списка */
  padding: 0; /* Убрать отступы */
}

.menu ul li {
  padding: 10px; /* Отступы для пунктов меню */
  text-align: center; /* Центрирование текста */
}

.menu ul li a {
  color: white; /* Цвет ссылок */
  text-decoration: none; /* Убрать подчеркивание */
  font-size: 18px; /* Размер шрифта ссылок */
  display: block; /* Отображение в блочном формате */
  transition: background-color 0.3s; /* Плавный переход */
}

.menu ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Цвет фона при наведении */
}

/* Основная структура */
.layout {
  width: 50%; /* Ширина таблицы */
  height: 84vh; /* Высота таблицы */
  border-collapse: separate; /* Разделение ячеек */
  border-spacing: 10px; /* Расстояние между ячейками */
  margin: 20px auto; /* Отступы сверху и снизу, автоматические отступы по бокам для центрирования */
  position: relative; /* Измените на relative для правильного позиционирования */
}


td {
  border: 1px solid #be5600; /* Цвет рамки ячеек */
  padding: 20px; /* Отступы внутри ячеек */
  background-color: #f8f400; /* Цвет фона ячеек */
  border-radius: 8px; /* Скругление углов ячеек */
  transition: background-color 0.3s; /* Плавный переход */
}

td:hover {
  background-color: #ff9900; /* Цвет фона при наведении на ячейку */
}

.content {
  width: 50%; /* Ширина контента */
  background-color: #0059ff; /* Цвет фона контента */
  border-radius: 8px; /* Скругление углов */
}

.news {
  width: 30%; /* Ширина новостей */
  background-color: #0059ff; /* Цвет фона новостей */
  border-radius: 8px; /* Скругление углов */
}

.banners {
  text-align: center; /* Центрирование текста */
  background-color: #0059ff; /* Цвет фона баннеров */
  padding: 20px; /* Отступы */
  border-radius: 8px; /* Скругление углов */
}

.footer {
  text-align: center; /* Центрирование текста в подвале */
  background-color: #000000; /* Цвет фона подвала */
  color: white; /* Цвет текста подвала */
  padding: 10px; /* Отступы */
}

p {
  font-size: 18px; /* Размер шрифта параграфов */
  color: #000000; /* Цвет текста параграфов */
}

/* Контейнер бегущей строки */
.marquee-container {
  overflow: hidden;
  background-color: #333;
  color: white;
  padding: 20px 30px;
  width: 100%; /* Ширина контейнера на всю страницу */
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  height: 10px; /* Высота контейнера */
}

/* Текст бегущей строки */
.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: slideMarquee 15s linear infinite;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  left: 15%; /* Начальная позиция строки за правым краем */
}

/* Анимация бегущей строки */
@keyframes slideMarquee {
  0% {
      transform: translateX(200%); /* Начало строки за правым краем */
  }
  100% {
      transform: translateX(-200%); /* Конец строки за левым краем */
  }
}

